In [3]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df = pd.read_csv(r'C:\Users\aniru\OneDrive\Documents\Files\weather_date.csv')
df

       Day   Temperature  Windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7   Snow
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
df.shape

(6, 4)

In [5]:
df.columns

Index(['Day ', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [7]:
df.head()

       Day   Temperature  Windspeed Event
0  1/1/2017           32          6  Rain
1  1/2/2017           35          7  Snow
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [8]:
df.tail(3)

       Day   Temperature  Windspeed  Event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [14]:
df[1:3]

       Day   Temperature  Windspeed Event
1  1/2/2017           35          7  Snow
2  1/3/2017           28          2  Snow

In [21]:
df['Temperature'].max()

35

In [22]:
df['Temperature'].min()

24

In [24]:
df['Day '][df['Temperature'] == df['Temperature'].max()] # Kinda doing SQL in pandas

1    1/2/2017
Name: Day , dtype: object

In [25]:
df[df['Temperature'] == df['Temperature'].max()] # Kinda doing SQL in pandas

       Day   Temperature  Windspeed Event
1  1/2/2017           35          7  Snow

In [26]:
#Set Index
df.set_index('Day ')

          Temperature  Windspeed  Event
Day
1/1/2017           32          6   Rain
1/2/2017           35          7   Snow
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [29]:
df.set_index('Day ', inplace=True)

In [30]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='Day ')

In [31]:
df.loc['1/2/2017']

Temperature      35
Windspeed         7
Event          Snow
Name: 1/2/2017, dtype: object

In [33]:
df.set_index('Event',inplace=True) # this is kind of building a hash map using event as a key

In [35]:
df.loc['Snow']

       Temperature  Windspeed
Event
Snow            35          7
Snow            28          2
Snow            24          7